body {
  font-family: "Roboto Condensed", sans-serif;
  max-width: 1310px;
  margin: auto;
}

/* .container-lg {
  max-width: 1310px;
} */

body img {
  background-color: white;
}

.nav-top {
  background-color: #f72210;
}

.subscribe-button {
  background-color: #ffe400;
  font: bold 13px/24px;
  padding: 2px 12px;
}

.badge-paul {
  height: 1px;
  border-top: 15px solid #f72210;
  border-left: 13px solid #fff;
  display: inline-block;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}
